body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    color: white;
    background-color: #1E1E26;
}

.styled-element {
    opacity: 100%;
    border-radius: 5px;
    padding: 15px;
    margin: 20px auto;
    text-align: center;
    cursor: pointer;
    border: 1px solid rgba(255, 255, 255, 0.8);
    box-shadow: 0px 0px 10px hotpink;
    color: hotpink;
    white-space: nowrap;
}

button#convertButton {
    background-color: aqua;
    color: black;
    padding: 10px 20px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.1s;
    border: 1px solid rgba(255, 255, 255, 0.8);
    display: inline-block;
    margin: 10px 0;
}

button#convertButton:hover {
    background-color: hotpink;
}

button#convertButton:active {
    transform: scale(0.95);
}